<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777332670415-cgqqiq4h2jgtslop87hsc85v1d071oak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777332670415-cgqqiq4h2jgtslop87hsc85v1d071oak</string>
	<key>API_KEY</key>
	<string>AIzaSyBcz-OZFXIa9o3DF5LHYagmXppXOFShhi0</string>
	<key>GCM_SENDER_ID</key>
	<string>777332670415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsUp</string>
	<key>PROJECT_ID</key>
	<string>what-s-up-332e4</string>
	<key>STORAGE_BUCKET</key>
	<string>what-s-up-332e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777332670415:ios:ffe871bb5e48fa455f1cba</string>
</dict>
</plist>